@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";

body {
    margin: 0;
    background-image: url('/bg-2.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-family: "Roboto", serif;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: left;
    font-size: x-small;
}


h1.sign {
    font-weight: bold;
    font-size: large;
}